In [5]:
import pandas as pd

df = pd.read_csv('sample.csv')
display(df.head())

df_cleaned = df.dropna()
df_filled = df.fillna(df.mean())
df_filled_specific = df.fillna({'ColumnName': 'Unknown'})

df_cleaned.to_csv('cleaned_data.csv', index=False)
display(df_cleaned.head())

      Name   Age           City   Salary
0    Alice  25.0       New York  50000.0
1      Bob  30.0    Los Angeles  65000.0
2  Charlie  32.5        Chicago      NaN
3    David  40.0            NaN  70000.0
4      Eve   NaN  San Francisco  80000.0

TypeError: can only concatenate str (not "int") to str